<div class="feed-entry">
    <a class="feed-entry-site-name" href="http://mestredoscentavos.blogspot.com/">Mestre dos Centavo$</a> - <a class="feed-entry-title" href="http://mestredoscentavos.blogspot.com/2017/11/sobre-o-ranking.html">Sobre o Ranking</a>
    <p class="feed-entry-summary">PessoalEm virtude de alguns contratempos o ranking deste mês só será pulicado no...</p>
    <time datetime="2017-11-12T02:51:00.001-08:00">12/11/2017 02:51</time>
</div>
<div class="feed-entry">
    <a class="feed-entry-site-name" href="http://investidoringles.blogspot.com/">Investidor Inglês</a> - <a class="feed-entry-title" href="http://investidoringles.blogspot.com/2017/11/carteira-formula-magica-joel-greenblatt.html">Carteira Fórmula Mágica Joel Greenblatt - Outubro 2017</a>
    <p class="feed-entry-summary">Mais dois fechamentos e chegaremos ao fim do meu estudo sobre a&nbsp;fórmula mág...</p>
    <time datetime="2017-11-09T00:00:00.000-02:00">09/11/2017 00:00</time>
</div>
<div class="feed-entry">
    <a class="feed-entry-site-name" href="http://bonsdividendos.blogspot.com/">Dividendos</a> - <a class="feed-entry-title" href="http://bonsdividendos.blogspot.com/2017/11/dividendos-tiete-ii.html">Dividendos Tietê II</a>
    <p class="feed-entry-summary">Boa tarde Pessoal,Passando aqui para dividir a grata informação recebida sobre a...</p>
    <time datetime="2017-11-08T10:43:00.000-08:00">08/11/2017 10:43</time>
</div>
<div class="feed-entry">
    <a class="feed-entry-site-name" href="http://mestredosdividendos.blogspot.com/">Mestre dos Dividendos</a> - <a class="feed-entry-title" href="http://mestredosdividendos.blogspot.com/2017/11/giro-de-mercado-bom-filho-casa-torna.html">Giro de mercado ( Bom filho a casa torna)</a>
    <p class="feed-entry-summary">Vendas FII : KNRI Vendas FII: HGLGLucro Líquido IR e custos + Aluguel: 7.462,93 ...</p>
    <time datetime="2017-11-06T13:10:00.001-08:00">06/11/2017 13:10</time>
</div>
<div class="feed-entry">
    <a class="feed-entry-site-name" href="http://alemdapoupanca.blogspot.com/">Além da poupança</a> - <a class="feed-entry-title" href="http://alemdapoupanca.blogspot.com/2017/11/fechamento-outubro-de-2017.html">Fechamento - Outubro de 2017</a>
    <p class="feed-entry-summary">         Normal  0      21      false  false  false    PT-BR  X-NONE  X-NONE    ...</p>
    <time datetime="2017-11-03T11:08:00.000-02:00">03/11/2017 11:08</time>
</div>
<div class="feed-entry">
    <a class="feed-entry-site-name" href="http://gordotetinha.blogspot.com/">Um Gordo Tetinha</a> - <a class="feed-entry-title" href="http://gordotetinha.blogspot.com/2017/11/balanco-de-fim-de-ano-e-dois-anos-de.html">Balanço de fim de ano e dois anos de blog</a>
    <p class="feed-entry-summary">Olá amigos leitores fiéis desse pobre blog!&nbsp;O BLOG&nbsp;O blog completou 2 ...</p>
    <time datetime="2017-11-02T21:11:00.001-02:00">02/11/2017 21:11</time>
</div>
<div class="feed-entry">
    <a class="feed-entry-site-name" href="http://oaportadorfinanceiro.blogspot.com/">O Aportador</a> - <a class="feed-entry-title" href="http://oaportadorfinanceiro.blogspot.com/2017/11/fechamento-outubro2017-r-44821531.html">Fechamento Outubro/2017: R$ 448.215,31</a>
    <p class="feed-entry-summary">"Judge a man by his questions rather than his answers."&nbsp;(Voltaire)Olá meus ...</p>
    <time datetime="2017-11-02T19:49:00.002-02:00">02/11/2017 19:49</time>
</div>
<div class="feed-entry">
    <a class="feed-entry-site-name" href="http://elenaosurfanada.blogspot.com/">Ele não surfa nada!</a> - <a class="feed-entry-title" href="http://elenaosurfanada.blogspot.com/2017/11/patrimonio-financeiro-out17-r-34305825.html">Patrimônio Financeiro out/17 (R$ 343.058,25) ou +2,06%</a>
    <p class="feed-entry-summary">Mais um bom mês nos investimentos.Tenho feito planos para trabalhar mais o blog,...</p>
    <time datetime="2017-11-02T13:08:00.000-02:00">02/11/2017 13:08</time>
</div>
<div class="feed-entry">
    <a class="feed-entry-site-name" href="http://microinvestidornerd.blogspot.com/">Micro Investidor Nerd</a> - <a class="feed-entry-title" href="http://microinvestidornerd.blogspot.com/2017/10/nao-estou-tao-mal-assim.html">Não estou tão mal assim (resposta ao post do Corey)</a>
    <p class="feed-entry-summary">Caras, acabei de ler o último post do Corey, ainda estou lendo os comentários, e...</p>
    <time datetime="2017-10-16T13:05:00.001-07:00">16/10/2017 13:05</time>
</div>
